<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New student</title>
</head>
<body>

<form th:method="POST" th:action="@{/students}" th:object="${student}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="birthday">Enter birthday: </label>
    <input type="date" th:field="*{birthday}" id="birthday"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error</div>
    <br/>
    <label for="grade">Enter grade: </label>
    <input type="text" th:field="*{grade}" id="grade"/>
    <div style="color:red" th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}">Grade Error</div>
    <br/>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

</body>
</html>